* {
 margin: 0;
 padding: 0;
    body {
    margin: 0;
    padding: 0;
    height: 100vh;
        #principal {
         position: relative;
         background: yellow;
         border: 2px solid red;
         display: flex;
         justify-content: space-between;
         align-items: flex-end;
         height: 100%;
         padding: 0; 
         nav {
             border: 2px solid black;
             ul {
                 display: flex;
                 list-style: none;
             }
         }  
         #cadre {
             position: absolute;
             top: 0;
             margin: 30px 30px;
             border: 2px solid black;
             width: 95%;
             height: 90vh;
             span {
                 img {
                     height: 50px;
                 width: 50px;
                 background: white;
                 }
                 
             }
         }
    }
}
}