* {
  margin: 0;
  padding: 0;
}

* body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}

* body #principal {
  position: relative;
  background: #870000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#190A05), to(#870000));
  background: linear-gradient(to right, #190A05, #870000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding: 0;
}

* body #principal p {
  margin: 0 30px 10px 30px;
  font-size: 12px;
  z-index: 4;
}

* body #principal nav {
  position: relative;
  z-index: 4;
}

* body #principal nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: absolute;
  top: -28px;
  left: -66px;
}

* body #principal nav ul li {
  margin: 0 2px;
}

* body #principal nav ul li img {
  height: 25px;
}

* body #principal #cadre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  margin: 30px 30px;
  width: 95%;
  height: 90vh;
  z-index: 3;
}

* body #principal #cadre p {
  margin: 15px 25px;
  font-size: 18px;
  z-index: 3;
}

* body #principal #cadre #scroll {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 50px;
  z-index: 3;
}

* body #principal #cadre #contenu {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background: #FEAC5E;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(75, 192, 200, 0.26)), color-stop(rgba(199, 121, 208, 0.274)), to(rgba(254, 171, 94, 0.274)));
  background: linear-gradient(to right, rgba(75, 192, 200, 0.26), rgba(199, 121, 208, 0.274), rgba(254, 171, 94, 0.274));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* body #principal #cadre #contenu video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  opacity: 1.5;
}

* body #principal #cadre img {
  margin: 15px 20px;
  height: 60px;
  width: 60px;
  z-index: 3;
}
/*# sourceMappingURL=style.css.map */