             #contenu {
                 height: 50px;
                 width:100%;
                 position: absolute;
                 bottom: 0;
                 #about {
                    position: absolute;
                    top: -500px;
                    h1 {
                        text-align: center;
                    } 
                    p {
                        text-align: center;
                    }
                    #myBtn {
                        display: block;
                        margin: auto;
                    }
                    #img_jean {
                        display: flex;
                        justify-content: space-around;
                        img{
                            width: 140px;
                            height:150px;
                        }
                    }
                    /* The Modal (background) */
                    .modal {
                        display: none; /* Hidden by default */
                        position: fixed; /* Stay in place */
                        z-index: 1; /* Sit on top */
                        left: 0;
                        top: 0;
                        width: 100%; /* Full width */
                        height: 100%; /* Full height */
                        overflow: auto; /* Enable scroll if needed */
                        background-color: rgb(0,0,0); /* Fallback color */
                        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                        -webkit-animation-name: fadeIn; /* Fade in the background */
                        -webkit-animation-duration: 0.4s;
                        animation-name: fadeIn;
                        animation-duration: 0.4s
                    }
                    /* Modal Content */
                    .modal-content {
                        position: fixed;
                        background-color: black;
                        width: 100%;
                        height: 100%;
                        -webkit-animation-name: slideIn;
                        -webkit-animation-duration: 0.4s;
                        animation-name: slideIn;
                        animation-duration: 0.4s;
                    }
                    
                    /* The Close Button */
                    .close {
                        color: white;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                    }
                    
                    .close:hover,
                    .close:focus {
                        color: #000;
                        text-decoration: none;
                        cursor: pointer;
                    }
                    
                    .modal-body {padding: 2px 16px;
                    color: white;
                    text-align: center;
                }
                    
                    /* Add Animation */
                    @-webkit-keyframes slideIn {
                        from {bottom: -300px; opacity: 0} 
                        to {bottom: 0; opacity: 1}
                    }
                    
                    @keyframes slideIn {
                        from {bottom: -300px; opacity: 0}
                        to {bottom: 0; opacity: 1}
                    }
                    
                    @-webkit-keyframes fadeIn {
                        from {opacity: 0} 
                        to {opacity: 1}
                    }
                    
                    @keyframes fadeIn {
                        from {opacity: 0} 
                        to {opacity: 1}
                    }
                                    }
                                    #formulaire {
                                        display: none;
                                    }
                                }
                                    img {
                                    margin: 15px 10px;
                                    height: 50px;
                                    width: 50px;
                                    background: white;
                                    }
                                }
                            }
                        }
                    }
