* {
 margin: 0;
 padding: 0;
    body {
    margin: 0;
    padding: 0;
    height: 100vh;
        #principal {
         position: relative;
         background: yellow;
         display: flex;
         justify-content: space-between;
         align-items: flex-end;
         height: 100%;
         padding: 0;
         p { 
             margin: 0 25px 0 25px;
         } 
         nav {
             border: 2px solid black;
             ul {
                 display: flex;
                 list-style: none;
             }
         }  
         #cadre {
             display: flex;
             justify-content: space-between;
             position: absolute;
             top: 0;
             margin: 30px 30px;
             border: 2px solid black;
             width: 95%;
             height: 90vh;
             p {
                 margin: 15px 20px;
             }
             #scroll {
                 align-self: flex-end;
                 margin-bottom: 500px;
             }
             #contenu {
                 height: 50px;
                 width:100%;
                 position: absolute;
                 bottom: 0;
                 #about {
                    h1 {
                        text-align: center;
                    } 
                    p {
                        margin: 0 300px 0 300 px;
                        text-align: center justify;
                    }
                    #img_jean {
                        display: flex;
                        justify-content: space-around;
                    }
                }
                #formulaire {
                    display: none;
                }
             }
                 img {
                 margin: 15px 10px;
                 height: 50px;
                 width: 50px;
                 background: white;
                 }
             }
         }
    }
}
