* {
  margin: 0;
  padding: 0;
}

* body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

* body #principal {
  position: relative;
  background: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding: 0;
}

* body #principal p {
  margin: 0 25px 5px 25px;
}

* body #principal nav {
  border: 2px solid black;
}

* body #principal nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

* body #principal #cadre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  margin: 30px 30px;
  border: 2px solid black;
  width: 95%;
  height: 90vh;
}

* body #principal #cadre p{
  margin: 15px 20px;
  z-index: 2;
}

* body #principal #cadre #scroll {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 50px;
  z-index: 2;
}

* body #principal #cadre #contenu {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;

  background-color: black;
}

* body #principal #cadre img {
  margin: 15px 10px;
  height: 50px;
  width: 50px;
  background: white;
  z-index: 2;
}

* body #principal #cadre #contenu  div.photo {
  z-index: 1;
  position: relative;
  display: inline-block;
  height:50%;
  width: 33.3%;  
  margin:auto 0;
  padding: 0;
 
  
}


* body #principal #cadre #contenu  div.photo img{

    height:100%;
    width:100%;
    padding: 0;
    margin: 0;
    z-index: 1;
    opacity: 0.4;
    position: absolute; /*ne pas zapper il n'y avait rien*/
 
}

* body #principal #cadre #contenu  div.photo img:hover{
    opacity: 1;

}



* body #principal #cadre #Menu {

    height: 0px;

}

/** body #principal #cadre #contenu div .photo{

    height:300px;
    width: 405px ;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;

}*/

* body #principal #cadre #contenu  div.photo img img.log:hover{
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;
    object-fit: cover;
}
